# JBI100 Visualization 
### Academic year 2025-2026

## Health and Global Statistics
Data sources:

- Hospital Beds Management (https://www.kaggle.com/datasets/jaderz/hospital-beds-management/data)
- CIA Global Statistical Database (https://www.kaggle.com/datasets/kushagraarya10/cia-global-statistical-database)

Data dictionaries and additional info can be found in the respective data folders.
Note: you only need to select one dataset for your project; the dataset that you choose consists of multiple CSV files.

In [ ]:
# Import libraries
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import os
import plotly.io as pio

# Render plotly in IFrame
pio.renderers.default = 'iframe'

# Do not truncate tables
pd.set_option('display.max_columns', None)

# If you receive a 'ModuleNotFoundError' please install the according library.

In [10]:
# Load the data
df_HBM_patients        = pd.read_csv('../data/patients.csv', delimiter=',', low_memory=False)
df_HBM_staff           = pd.read_csv('../data/staff.csv', delimiter=',', low_memory=False)
df_HBM_staff_schedule  = pd.read_csv('../data/staff_schedule.csv', delimiter=',', low_memory=False)
df_HBM_services_weekly = pd.read_csv('../data/services_weekly.csv', delimiter=',', low_memory=False)

## Explore Hospital Beds Management

In [11]:
df_HBM_patients.sample(5)

,patient_id,name,age,arrival_date,departure_date,service,satisfaction
202,PAT-fddf786e,Shannon Ramsey,84,2025-03-06,2025-03-18,general_medicine,66
990,PAT-110d5794,Travis Hull,48,2025-11-12,2025-11-18,ICU,89
660,PAT-c1339d9f,Jesse Clark,60,2025-08-04,2025-08-15,general_medicine,88
550,PAT-c586fb1a,William David DDS,28,2025-11-12,2025-11-23,emergency,84
143,PAT-86e1492d,Barbara Dudley,21,2025-07-13,2025-07-19,general_medicine,98

In [12]:
df_HBM_patients.describe()

               age  satisfaction
count  1000.000000   1000.000000
mean     45.337000     79.597000
std      25.999912     11.550325
min       0.000000     60.000000
25%      23.000000     70.000000
50%      46.000000     80.000000
75%      68.000000     89.250000
max      89.000000     99.000000

In [15]:
fig = px.scatter(df_HBM_patients, x="age", y="satisfaction", color="service",
                 width=1000, height=800, title="Patient Satisfaction vs Age by Service")
fig.write_html("iframe_figures/patient_satisfaction_vs_age.html")
fig.show() # NOTE: Does not show the figure here but saves it to an html file in /iframe_figures/